extends ../theme-boilerplate.pug

block sidebar
  include ./sidebar.pug
  +admin_sidebar

block content
  .row: .col-lg-12
    +page-title('Provider List', ['Manage Providers'])
  .row: .col-lg-12
    +card('list')
      .table-responsive
        table.table(data-intro='Admin manage the provider\'s default epsilon, price, point and credit information.')
          thead
            tr
              th provider ID
              th Default price
              th Default epsilon
              th provider point
              th provider credit
          tbody
            each provider in providers
              tr
                td
                  a(href=`/admin/manage/providers/${provider.id}`)= provider.email
                td= provider.price
                td= provider.epsilon
                td= provider.point
                td= provider.credit
